.div1 {
    display: flex;
}
.div2 {
    align-content: center;
    display: flex;
    align-items: center;
    margin: 150px;
}
.form1 {
    padding: 20px;
    background-repeat: no-repeat;
    background-image: url('https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}
